.Checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}
.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

@media (max-width:500px){
    .Checkout{
        flex-direction: column;
        /* padding: 0; */
    }
    .checkout__right{
        margin-top: 7px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}